workdir
.python-version
*.swp
# Global ignore for Python cache directories
**/__pycache__/
.vscode/*
gui/__pycache__/*
codes/__pycache__/*
__pycache__/
*.pyc
*.pyo
tags

# Themes
Azure-ttk-theme/
ttk-Breeze/
itft1/

.ctags