cwdir:/Users/px54/Documents/TB_software/test
host_size:1000
n_generation:360
cap_withinhost:5
Infection_rate:0.02
Recovery_rate:0.05
activate_rate:0.125
latent_prob:1
IE_rate:0.01
ER_rate:0
RS_rate:0.02
model:SEIR
ref_path:/Users/px54/Documents/TB_transmissibility/GCF_000195955.2_ASM19595v2_genomic.fna
causal_gene_path:
contact_network_path:
seed_size:10
sample_rate:0.01
mut_rate:4.4e-9
n_causal_genes:20
within_host_evolution:
within_host_reproduct_rate:0.03
multiple_epochs:
epoch_gens:50,100
super_infection:
seeds_vcf:
burn_in_Ne:4000
burn_in_generations:5000
burn_in_mutrate:5.3e-8
gff:/Users/px54/Documents/TB_transmissibility/slim_scripts/GCF_000195955.2_ASM19595v2_genomic.overlap.gff
efsize_min:1
efsize_max:5
p_ER:0.01
network_model:ER
rp_size:0
p_within:0
p_between:0
ba_m:0
sim_start_y:2015
sim_start_m:6
sim_time_grid:month