s8 early()
{
	// State transitions for exposed hosts
	// There are 4 states: 0 - susceptible, 1 - exposed, 2 - infected, 3 - recovered
	hosts = sim.subpopulations;
	e_inds = which(current_hoststates==1);

	draw_uniform = runif(length(e_inds));
	state_transition = findInterval(draw_uniform, c(0, E_I_rate[current_epoch], E_I_rate[current_epoch] + E_R_rate[current_epoch]));
	Host_states[e_inds[which(state_transition==0)]] = 2; // state_transition=0 means going from latent to active state (1>2)
	recover_from_e = e_inds[which(state_transition==1)];
	if (length(recover_from_e)>0)
	{
		Host_states[recover_from_e]=3;
		for (ind in recover_from_e)
		{
			line1 = paste(community.tick, ind + 1);
			writeFile(paste0(cwdir, runid, "/recovery.txt"), line1, append=T, compress=T);
		}
		sim.killIndividuals(hosts[recover_from_e].individuals);
	}
}

