
	defineGlobal("n_causal_genes", 0);
	defineGlobal("n_trans_traits", 0);
	defineGlobal("n_dr_traits", 0);
	defineGlobal("trait_locs", -1);
	defineGlobal("range_genes", -1);
	initializeGenomicElement(0, 0, L-1);



