s4 late()
{
	writeFile(paste0(cwdir, runid, "/SEIR_trajectory.csv"), paste0(sum(Host_states == 0), ", ", sum(Host_states == 1), ", ", sum(Host_states == 2), ", ", sum(Host_states == 3)), append=T, compress=T);

	all_pathogens = sim.subpopulations.individuals.tag;
	line = asString(sum(all_pathogens == 0));
	if (seed_size > 1)
	{
		for (seed in 2:seed_size)
		{
			line = paste0(line, ", ", sum(all_pathogens == seed - 1));
		}
	}
	writeFile(paste0(cwdir, runid, "/strain_trajectory.csv"), line, append=T, compress=T);
}

