mutation(m1) {

	// Set mutational effects for new m2 mutation 
	which_gene = asInteger((findInterval(mut.position, trait_locs) + 1) / 2);

	if (n_trans_traits>0)
	{
		for (t_num in 1:n_trans_traits)
		{
			mut.setValue(paste0("trans_", t_num), effsize_pos.subset(which_gene - 1, t_num + 2)); 
		}
	}
	
	if (n_dr_traits>0)
	{
		for (t_num in 1:n_dr_traits)
		{
			mut.setValue(paste0("dr_", t_num), effsize_pos.subset(which_gene - 1, t_num + 2 + n_trans_traits)); 
		}
	}
	
	return T;

}

