s8 early()
{
	hosts = sim.subpopulations;
	recovered_genomes = c();
	recovered_hosts = c();
	popsizeminus1 = host_size-1;
	
	// Deal with exposed individuals
	e_inds = which(Host_states==1); // deal with 1&2 first

	draw_uniform = runif(length(e_inds));
	state_transition = findInterval(draw_uniform, c(0, activate_rate, activate_rate + ER_rate));
	Host_states[e_inds[which(state_transition==0)]]=2; // state_transition=0 means going from latent to active state (1>2)
	recover_from_e = e_inds[which(state_transition==1)];
	if (length(recover_from_e)>0)
	{
		Host_states[recover_from_e]=3;
		for (ind in recover_from_e)
		{
			line1 = paste(community.tick, ind + 1);
			writeFile(paste0(cwdir, "/recovery.txt"), line1, append=T);
		}
		sim.killIndividuals(sim.subpopulations[recover_from_e].individuals);
	}
}