initialize() {
	initializeSLiMModelType("nonWF");
	initializeSLiMOptions(nucleotideBased=T);
	initializeTreeSeq();
	
	// Read in the config file and make global variables of different parameters
	source("read_config.slim");
	
	// Initiate the genomic elements and mutation types
	source("genomic_element_init.slim");
}