mutation(m1) {
	// Set mutational effects for new m2 mutation 
	which_gene =asInteger((findInterval(mut.position, trait_locs) + 1) / 2);
	mut.setValue("e0", effsize_pos.subset(which_gene - 1, 3));
	// trait_range = ncol(effsize_pos) - 1;
	for (t_num in 1:dr_epochs)
	{
		mut.setValue(paste0("e", t_num), effsize_pos.subset(which_gene - 1, t_num + 3)); 
	}
	
	return T;

}