s2 reproduction()
{
	// Within-host reproduction, only activated when within-host evolution is T.
	host_ids = which((Host_states==2)&(sim.subpopulations.individualCount < cap_withinhost));
	
	for (i in host_ids)
	{
		reproduce_event = which(rbinom(sim.subpopulations[i].individualCount, 1, within_host_reproduct_rate)==1);
		if (length(reproduce_event)>0)
		{
			for (j in reproduce_event)
			{
				parent = sim.subpopulations[i].individuals[j];
				child = sim.subpopulations[i].addRecombinant(parent.genome1, NULL, NULL, NULL, NULL, NULL);
				child.tag = parent.tag;
			}
		}
	}
	self.active=F;
}