defineConstant("L", initializeAncestralNucleotides(ref_path));
initializeRecombinationRate(0);



initializeMutationTypeNuc(0, 1, "f", 0.0); // Neutral mutations
initializeGenomicElementType(0, 0, 1.0, mmJukesCantor(mut_rate));
initializeMutationTypeNuc(1, 1, "f", 0.0);  // Mutations contributing to traits
initializeGenomicElementType(1, 1, 1.0, mmJukesCantor(mut_rate));



if (genetic_model==T)
{
	range_genes = c();
	defineGlobal("effsize_pos", readCSV(causal_gene_path, colNames = T));
	n_causal_genes = effsize_pos.nrow;
	initializeGenomicElement(0, 0, effsize_pos.subset(0,1) - 1);
	nminus1 = n_causal_genes - 1;
	trait_locs = c(0);

	for (i in 1:nminus1)
	{
		range_genes = c(range_genes, effsize_pos.subset(i-1,1):effsize_pos.subset(i-1,2));
		trait_locs = c(trait_locs, effsize_pos.subset(i-1,1), effsize_pos.subset(i-1,2));
		initializeGenomicElement(1, effsize_pos.subset(i-1,1), effsize_pos.subset(i-1,2) - 1);
		initializeGenomicElement(0, effsize_pos.subset(i-1,2), effsize_pos.subset(i,1) - 1);
	}


	range_genes = c(range_genes, effsize_pos.subset(nminus1,1):effsize_pos.subset(nminus1,2));
	trait_locs = c(trait_locs, effsize_pos.subset(nminus1,1), effsize_pos.subset(nminus1,2));
	initializeGenomicElement(1, effsize_pos.subset(nminus1,1), effsize_pos.subset(nminus1,2) - 1);
	initializeGenomicElement(0, effsize_pos.subset(nminus1,2), L-1);

	defineGlobal("n_causal_genes", n_causal_genes);
	defineGlobal("trait_locs", trait_locs);
	defineGlobal("range_genes", range_genes);	
}

else
{
	defineGlobal("n_causal_genes", 0);
	defineGlobal("trait_locs", L);
	defineGlobal("range_genes", L);
	initializeGenomicElement(0, 0, L-1);
}


