cwdir:/Users/px54/Documents/TB_software/covid_test
host_size:10000
n_generation:360
cap_withinhost:5
Infection_rate:0.04
Recovery_rate:0.04
activate_rate:0.2
latent_prob:1
IE_rate:0.01
ER_rate:0
RS_rate:0.02
model:SEIR
ref_path:/Users/px54/Documents/TB_software/covid_test/EPI_ISL_402124.fasta
causal_gene_path:/Users/px54/Documents/TB_software/covid_test/causal_gene_info.csv
contact_network_path:
seed_size:5
sample_rate:0.01
mut_rate:2.7e-6
n_causal_genes_1:20
n_causal_genes_2:3
dr_causal_genes:5
dr_efsize:0.05
within_host_evolution:
within_host_reproduct_rate:0.03
multiple_epochs:T
treatment_gens:200,359
treatment_recovery_rate:0.15
super_infection:
seeds_vcf:
burn_in_Ne:100
burn_in_generations:12
burn_in_mutrate:3.2e-5
gff:/Users/px54/Documents/TB_transmissibility/slim_scripts/GCF_000195955.2_ASM19595v2_genomic.overlap.gff
efsize_min_1:1
efsize_min_2:1
efsize_max_1:5
efsize_max_2:10
cap_1:3
cap_2:0.8
p_ER:0.001
network_model:ER
rp_size:0
p_within:0
p_between:0
ba_m:0
sim_start_y:2015
sim_start_m:6
sim_time_grid:month
dr_type:bialleleic
trans_type:additive
exposed_sample_rate:0
massive_sampling:
massive_samp_gens:150,300
massive_samp_prob:0.2,0.3
recover_after_samp_rate:0.8,0.8